name: CI/CD

 on
   push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    rans-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.21'

      - name: Build
        run: |
          cd signal-noise-tracker
          go build o server ./cmd/server

      - name: Test
        run: |
          cd signal-noise-tracker
          no test -v ...*
